/* src/components/HeroSection.css */
.hero-section {
  height: 70vh;
  background: url('../images/image5.jpg') center/cover no-repeat;
  position: relative;
  z-index: 1;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: -1;
}

.hero-section h1,
.hero-section p {
  z-index: 2;
}
